<ng-template dialog-header>
    Editar Parcela
</ng-template>
<form [formGroup]="form">
    <div formResponsive>
        <div class="grid p-fluid">
            <div class="col-4">
                <label>Codigo</label>
                <p-inputNumber placeholder="Codigo" formControlName="code" inputId="purchaseCode"
                ></p-inputNumber>
            </div>
            <div class="col-4">
                <label>Data de parcela</label>
                <p-calendar appendTo="body" dateFormat="yy-mm-dd" [showTime]="false" inputId="end"
                            formControlName="expirationDate"
                            placeholder="Data de parcela"></p-calendar>
            </div>
            <div class="col-4">
                <label>Valor da Parcela</label>
                <p-inputNumber placeholder="Valor Parcela" formControlName="value" inputId="value"
                ></p-inputNumber>
            </div>
            <div class="col-12">
                <label>Descrição</label>
                <textarea rows="5" cols="30" [autoResize]="true" formControlName="description" pInputTextarea></textarea>
            </div>
        </div>
    </div>
</form>
<ng-template dialog-footer>
    <div class="pt-2">
        <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Fechar"
                (click)="close()"
                icon="mdi mdi-close"></button>
        <button pButton pRipple class="p-button-primary flex-1 border-round" label="Salvar"
                (click)="save()"
                icon="mdi mdi-check"></button>
    </div>
</ng-template>

