.promo-desc{
    font-size: 12px;
    margin-top: 2px;
    display: block;
    color: #777777;
}

.promo-item{
    background: white;
    border: 1px solid #fb4734;
    border-radius: 10px;
    padding: 10px 0;
    width: 60rem;
}
