<div class="card m-3">
    <div class="flex justify-content-between pb-2">
        <div class="align-items-center flex flex-auto gap-3 py-3">
            <label class="block font-bold">Data</label>
            <p-calendar styleClass="w-20rem" class="w-20rem" [(ngModel)]="rangeDates" selectionMode="range"
                        dateFormat="dd/mm/yy"
                        (onClose)="applyFilter()"
                        [readonlyInput]="true"></p-calendar>
        </div>
    </div>
    <c-data-table [action]="true" [exportBtn]="false" (edit)="customEdit($event)" (create)="customCrear($event)" (delete)="customDelete($event)"
                  [headers]="headersTable" [service]="service" [showCreate]="true" [type]="'BILLING'">
        <ng-template let-data tableRow="state">
            <p-badge [value]="data.state | translate" [severity]="data.state | severity"></p-badge>
        </ng-template>
        <ng-template let-data tableRow="action">
            @if(data.state === 'APPROVED'){
                <button pButton icon="mdi mdi-truck-delivery mdi-24px" type="button" class="p-button-text p-button-rounded p-button-success"
                        (click)="despachar(data)"
                        pTooltip="Despachar" tooltipPosition="top" [hidden]="true"
                ></button>
            }

        </ng-template>
    </c-data-table>
</div>
