<ng-template dialog-header><span class="p-dialog-title">Sabores</span></ng-template>
<!--    [disabled]="getDisabled()"-->
<div class="mt-4">
    <p-messages [(value)]="messages" [enableService]="false" closable="false"/>
    <p-pickList
        [source]="sourceProducts"
        [target]="targetProducts"
        sourceHeader="Disponível"
        targetHeader="Selecionado"
        [dragdrop]="!getDisabled()"
        [showSourceControls]="false"
        [showTargetControls]="false"
        [sourceStyle]="{ height: '30rem' }"
        [targetStyle]="{ height: '30rem' }">
        <ng-template let-product pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold">{{ product }}</span>
                    <div class="flex align-items-center gap-2">
                        <i class="pi pi-tag text-sm"></i>
                        <span>
                            {{ product.category }}
                        </span>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-pickList>
</div>
<ng-template dialog-footer>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Nao Adicionar"
            (click)="ref.close({cancel: true})"
            icon="pi pi-fw pi-trash"></button>
    <button pButton pRipple class="p-button-primary flex-1 border-round" label="Adicionar"
            [disabled]="targetProducts.length === 0"
            (click)="addFlavors()"
            icon="mdi mdi-check"></button>
</ng-template>
