<ng-template dialog-header><span class="p-dialog-title">Apertura de Caixa</span></ng-template>
<form [formGroup]="form">
    <div class="grid grid-nogutter flex-wrap gap-3 p-fluid pt-2">
        <div class="col-12 lg:col-12">
            <div class="grid formgrid">
                <div class="col-12 field mt-3">
                        <span class="p-float-label">
                            <p-dropdown
                                [options]="listCaixas" optionLabel="name"
                                formControlName="cashRegisterId"
                                emptyMessage="{{'primeng.emptyMessage' | translate}}"
                                emptyFilterMessage="{{'primeng.emptyFilterMessage' | translate}}"
                                optionValue="id"
                                [autoDisplayFirst]="false"
                                appendTo="body" styleClass="p-sidebar-sm"
                                [style]="{'width': '100%'}" id="caixa">
                                  <ng-template let-caixa pTemplate="item">
                                    <div class="organization-item flex flex-row gap-2 ">
                                      <div class="name font-medium">{{ caixa.name }}</div>
                                    </div>
                                  </ng-template>
                            </p-dropdown>
                             <label for="subordination">Selecione uma caixa</label>
                        </span>
                </div>
                <div class="col-12 lg:col-12">
                    <p-inputNumber
                        [maxFractionDigits]="2" formControlName="value" id="unitPriceCombo" currency="BRL"
                        locale="pt-BR" mode="currency" placeholder="Dinheiro em caixa"></p-inputNumber>
                </div>
                @if(session.userLogged.role.operationArea === 'ADMINISTRATOR_STORE'){
                    <div class="col-12 field mt-3">
                        <span class="p-float-label">
                            <p-dropdown
                                [options]="listUser" optionLabel="name"
                                formControlName="operatorId"
                                emptyMessage="{{'primeng.emptyMessage' | translate}}"
                                emptyFilterMessage="{{'primeng.emptyFilterMessage' | translate}}"
                                optionValue="id"
                                [autoDisplayFirst]="false"
                                appendTo="body" styleClass="p-sidebar-sm"
                                [style]="{'width': '100%'}" id="subordination">
                                  <ng-template let-organization pTemplate="item">
                                    <div class="organization-item flex flex-row gap-2 ">
                                      <div class="name font-medium">{{ organization.name }}</div>
                                    </div>
                                  </ng-template>
                            </p-dropdown>
                             <label for="subordination">Selecione uma operador de caixa</label>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</form>
<ng-template dialog-footer>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Fechar"
            (click)="ref.close()"
            icon="mdi mdi-close"></button>
    <button pButton pRipple class="p-button-primary flex-1 border-round" label="Abrir Caixa"
            [disabled]="form.invalid"
            (click)="openCaixa()"
            icon="mdi mdi-check"></button>
</ng-template>
