<ng-template dialog-header><span class="p-dialog-title">Fechamento de Caixa</span></ng-template>
<div class="grid mt-0">
    <div class="col-12">
        <span class="pl-2 text-2xl"
              style="border-left: 5px double var(--primary-color);">Detalhes da operador de caixa</span>
        <div class="mt-20 mb-30 w-100pr">
            <hr class="my-1">
            <div class="flex gap-4 justify-content-between align-items-center">
                <div class="flex gap-4 justify-content-between align-items-center">
                    <h6 class="m-0">Operador de caixa:</h6>
                    <p class="m-0">Jhon Abraham</p>
                </div>
                <div class="flex gap-4 justify-content-between align-items-center">
                    <h6 class="m-0">Hora de abertura:</h6>
                    <p class="m-0">Invalid Date</p>
                </div>
            </div>

            <hr class="my-1">
        </div>
    </div>
<!--    <div class="col-6">-->
<!--        <span class="pl-2 text-2xl" style="border-left: 5px double var(&#45;&#45;primary-color);">Detalhes do caixa</span>-->
<!--        <div class="mt-20 mb-30 w-100pr">-->
<!--            <hr class="my-1">-->
<!--            <div class="flex gap-4 justify-content-between align-items-center">-->
<!--                <h6 class="m-0">Total de clientes:</h6>-->
<!--                <p class="m-0">0</p>-->
<!--            </div>-->
<!--            <hr class="my-1">-->
<!--            <div class="flex gap-4 justify-content-between align-items-center">-->
<!--                <h6 class="m-0">Média por cliente:</h6>-->
<!--                <p class="m-0">{{ 0 | currency }}</p>-->
<!--            </div>-->
<!--            <hr class="my-1">-->
<!--            <div class="flex gap-4 justify-content-between align-items-center">-->
<!--                <h6 class="m-0">Total de vendas canceladas:</h6>-->
<!--                <p class="m-0">{{ 0 | currency }}</p>-->
<!--            </div>-->
<!--            <hr class="my-1">-->
<!--            <div class="flex gap-4 justify-content-between align-items-center">-->
<!--                <h6 class="m-0">Total de itens cancelados:</h6>-->
<!--                <p class="m-0">0</p>-->
<!--            </div>-->
<!--            <hr class="my-1">-->
<!--        </div>-->
<!--    </div>-->
    <div class="col-6">
        <span class="pl-2 text-2xl" style="border-left: 5px double var(--primary-color);">Relatório de Venda</span>
        <div class="mt-20 mb-30 w-100pr">
            <hr class="my-1">
            <div class="flex gap-4 justify-content-between align-items-center">
                <h6 class="m-0">Venda Total:</h6>
                <p class="m-0">{{ 0 | currency }}</p>
            </div>
            <hr class="my-1">
            <div class="flex gap-4 justify-content-between align-items-center">
                <h6 class="m-0">Venda total em dinheiro:</h6>
                <p class="m-0">{{ 0 | currency }}</p>
            </div>
            <hr class="my-1">
            <div class="flex gap-4 justify-content-between align-items-center">
                <h6 class="m-0">Venda de crédito total:</h6>
                <p class="m-0">{{ 0 | currency }}</p>
            </div>
            <hr class="my-1">
            <div class="flex gap-4 justify-content-between align-items-center">
                <h6 class="m-0">Outro pagamento recebido:</h6>
                <p class="m-0">{{ 0 | currency }}</p>
            </div>
            <hr class="my-1">
        </div>
    </div>
    <div class="col-6">
        <span class="pl-2 text-2xl"
              style="border-left: 5px double var(--primary-color);">Dinheiro</span>
        <div class="mt-20 mb-30 w-100pr">
            <hr class="my-1">
            <div class="flex gap-4 justify-content-between align-items-center">
                <h6 class="m-0">Dinheiro total das vendas:</h6>
                <p class="m-0 severity_successfull_text mr-6">{{ 0|currency }}</p>
            </div>
            <hr class="my-1">
            <div class="flex gap-4 justify-content-between align-items-center">
                <h6 class="m-0">Saldo de transações de turno:</h6>
                <p class="m-0 severity_danger_text mr-6">{{ 0|currency }}</p>
            </div>
            <hr class="my-1">
            <div class="flex gap-4 justify-content-between align-items-center">
                <h6 class="m-0">Fim do dinheiro em caixa:</h6>
                <p class="m-0 severity_successfull_text mr-6">{{ 0|currency }}</p>
            </div>
            <hr class="my-1">
        </div>
    </div>
</div>
<ng-template dialog-footer>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Fechar"
            (click)="ref.close()"
            icon="mdi mdi-close"></button>
    <button pButton pRipple class="p-button-primary flex-1 border-round" label="Fechar Caixa"
            icon="mdi mdi-check"></button>
</ng-template>
