<div class="layout-dashboard p-4">
    <div class="grid">
        <div class="col-12 py-0">
            <div class="align-items-center flex flex-auto gap-3">
                <label class="block font-bold">Data: </label>
                <p-calendar styleClass="w-20rem" class="w-20rem" [(ngModel)]="rangeDates" selectionMode="range"
                            dateFormat="dd/mm/yy"
                            (onClose)="applyFilter()"
                            [readonlyInput]="true"></p-calendar>
            </div>
        </div>
        <ng-template [ngIf]="session.userLogged.role.operationArea !== 'SUPER_ADMIN'">
            <div class="col-12 md:col-12 xl:col-12" *ngFor="let metric of metrics">
                <div class="card shadow-1 flex flex-column" [style.borderColor]="metric.color_light"
                     [style]="{'border-color': metric.color_light, 'border-left': '4px solid'}">
                    <div class="flex align-items-center">
                        <div class="flex justify-content-center align-items-center p-2 border-round"
                             [style.backgroundColor]="metric.color_light">
                            <i [class]="metric.icon" [style.color]="metric.color_dark"></i>
                        </div>
                        <span class="text-xl ml-2 font-semibold"
                              [style.color]="metric.color_light">{{ metric.title }}</span>
                    </div>

                    <div class="grid mt-3">
                        <div class="col flex flex-column p-3 text-center"
                             *ngFor="let content of metric.textContent; let i = index"
                             [class]="i === 0 ? 'border-right-1 surface-border' : 'border-right-1 surface-border' ">
                            <span class="text-color text-3xl font-semibold">{{ content.amount }}</span>
                            <span class="text-color text-2xl font-semibold">{{ content.text }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="col-12 xl:col-4">
            <div class="card h-full">
                <h4 class="white-space-nowrap mb-2">Caixas da Loja</h4>
                <div class="flex justify-content-between">
                    <h5 class="mb-1 font-bold severity_successfull mb-2 flex justify-content-center"
                        [pTooltip]="'Dinheiro arrecadado'"
                        style="width: 10rem !important;">{{ (stats && stats.orderSummary && stats.orderSummary.totalValuePaid || 0) | currency }}</h5>
                    <h5 class="mb-1 mt-0 font-bold severity_warning mb-2 flex justify-content-center"
                        [pTooltip]="'Dinheiro pendente de pagamento'"
                        style="width: 10rem !important;">{{ (stats && stats.orderSummary && stats.orderSummary.totalvalueToPaid || 0) | currency }}</h5>
                </div>
                <p-table [value]="caixas.listEntities$()" [paginator]="true" [rows]="10" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nome</th>
                            <th class="text-center">Trabalhando</th>
                            <th class="text-center">Informação</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-caixa>
                        <tr>
                            <td>
                                <span class="p-column-title">Category</span>
                                {{ caixa.name }}
                            </td>
                            <td class="text-center">
                                <ng-template [ngIf]="caixa.working" [ngIfElse]="notEnable">
                                    <i class="mdi mdi-check-circle-outline text-2xl text-green-700"></i>
                                </ng-template>
                                <ng-template #notEnable>
                                    <i class="mdi mdi-close-circle-outline text-2xl text-red-700"></i>
                                </ng-template>
                            </td>
                            <td class="text-center">
                                <ng-template [ngIf]="caixa.working" [ngIfElse]="working">
                                    <i class="mdi mdi-eye-outline text-2xl text-primary cursor-pointer"
                                       (click)="seeInfo(caixa)"
                                       [pTooltip]="'Olhear Caixa'"></i>
                                </ng-template>
                                <ng-template #working>
                                    <i class="mdi mdi-cash-register text-2xl text-primary cursor-pointer"
                                       (click)="seeInfo(caixa)"
                                       [pTooltip]="'Abrir Caixa'"></i>
                                </ng-template>
                                <i class="mdi mdi-history text-2xl text-primary cursor-pointer ml-3"
                                   (click)="historical(caixa)"
                                   [pTooltip]="'Histórico Caixa'"></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="3">Nenhuma caixa funcionando</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>

        <div class="col-12 xl:col-4">
            <div class="card">
                <div class="flex justify-content-between">
                    <h4>Produtos com baixo estoque</h4>
                </div>

                <p-table [value]="store.listEntities$()" [paginator]="true" [rows]="10" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nome</th>
                            <th class="text-center">Estoque</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>
                                <span class="p-column-title">Category</span>
                                {{ product.name }}
                            </td>
                            <td class="text-center">
                                <span class="p-column-title">Price</span>
                                {{ product.stockAmount }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-12 xl:col-4">
            <div class="card">
                <h4>Produtos mais vendidos</h4>

                <p-table [value]="productsBestSellers" [paginator]="true" [rows]="20" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th class="text-center">Sales</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>
                                <img [src]=" product.image ? product.image : 'assets/layout/images/no-pictures.png'"
                                     class="w-5rem h-3rem shadow-5"
                                     alt="product.name">
                            </td>
                            <td>
                                <span class="p-column-title">Category</span>
                                {{ product.name }}
                            </td>
                            <td class="text-center">
                                {{ product.total | currency }}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="5">Nenhuma venda encontrada.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="sidebarVisible" position="right"
           (onHide)="closingSidebar()"
           styleClass="{{historicalCashOperations.length > 0 ? 'w-5': 'w-30rem'}}">
    <ng-template pTemplate="header"><h5 class="mb-0">Resumo das operações</h5></ng-template>
    <div class="grid mt-0">
        @if (cashOperations !== null) {
            <div class="col-12">
                <span class="pl-2 text-2xl" style="border-left: 5px double var(--primary-color);">Detalhes da operador de caixa</span>
                <div class="mt-20 mb-30 w-100pr">
                    <hr class="my-1">
                    <div class="">
                        <div class="flex gap-4 justify-content-between align-items-center">
                            <h6 class="m-0">Operador de caixa:</h6>
                            <p class="m-0">{{ cashOperations.operatorUser.name }}</p>
                        </div>
                        <div class="flex gap-4 justify-content-between align-items-center">
                            <h6 class="m-0">Hora de abertura:</h6>
                            <p class="m-0">{{ cashOperations.created | date:'dd/MM/YYYY hh:mm' }}</p>
                        </div>
                    </div>

                    <hr class="my-1">
                </div>
            </div>
            <div class="col-12">
                <span class="pl-2 text-2xl"
                      style="border-left: 5px double var(--primary-color);">Relatório de Venda</span>
                <div class="mt-20 mb-30 w-100pr">
                    <hr class="my-1">
                    <div class="flex gap-4 justify-content-between align-items-center">
                        <h6 class="m-0">Venda Total:</h6>
                        <p class="m-0">{{ cashOperations.totalValueSales | currency }}</p>
                    </div>
                    <hr class="my-1">
                    <div class="flex gap-4 justify-content-between align-items-center">
                        <h6 class="m-0">Venda total em dinheiro:</h6>
                        <p class="m-0">{{ cashOperations.totalValueSalesPaymentWithMoney | currency }}</p>
                    </div>
                    <hr class="my-1">
                    <div class="flex gap-4 justify-content-between align-items-center">
                        <h6 class="m-0">Venda tarjeta total:</h6>
                        <p class="m-0">{{ (cashOperations.totalValueSalesPaymentWithCredit + cashOperations.totalValueSalesPaymentWithDebt + cashOperations.totalValueSalesPaymentWithPix) | currency }}</p>
                    </div>
                    <hr class="my-1">
                    <div class="flex gap-4 justify-content-between align-items-center">
                        <h6 class="m-0">Outro pagamento recebido:</h6>
                        <p class="m-0">{{ cashOperations.totalValueSalesPaymentWithOthers | currency }}</p>
                    </div>
                    <hr class="my-1">
                </div>
            </div>
            <div class="col-12">
                <span class="pl-2 text-2xl" style="border-left: 5px double var(--primary-color);">Dinheiro</span>
                <div class="mt-20 mb-30 w-100pr">
                    <hr class="my-1">
                    <div class="flex gap-4 justify-content-between align-items-center">
                        <h6 class="m-0">Dinheiro total das vendas:</h6>
                        <p class="m-0 severity_successfull_text  flex flex-1 justify-content-end">{{ cashOperations.totalValue|currency }}</p>
                    </div>
                    <hr class="my-1">
                    <div class="flex gap-4 justify-content-between align-items-center">
                        <h6 class="m-0">Saldo de transações de turno:</h6>
                        <p class="m-0 severity_danger_text flex flex-1 justify-content-end">{{ cashOperations.totalValueExtraction|currency }}</p>
                    </div>
                    <hr class="my-1">
                </div>
            </div>
        }
        @if (historicalCashOperations.length > 0) {
            <div class="col-12">
                <p-table [value]="historicalCashOperations"
                         dataKey="id"
                         groupRowsBy="id"
                         rowGroupMode="subheader"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 5rem"></th>
                            <th>Operador</th>
                            <th>Data Abertura</th>
                            <th>Data de fechamento</th>
                            <th>Estado</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="groupheader" let-operations let-rowIndex="rowIndex" let-expanded="expanded">
                        <tr>
                            <td>
                                <p-button type="button" pRipple [pRowToggler]="operations" [text]="true"
                                          [rounded]="true" [plain]="true"
                                          [icon]="expanded ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-right'"/>
                            </td>
                            <td>{{ operations.operatorUser.name }}</td>
                            <td>{{ operations.created | date:'dd/MM/YYYY hh:mm' }}</td>
                            <td>{{ operations.closingDate | date:'dd/MM/YYYY hh:mm' }}</td>
                            <td><p-tag [value]="getValue(operations)" [severity]="getSeverity(operations)" /></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-operation>
                        <tr>
                            <td colspan="5" style="padding: 0!important;">
                                <div class="col-12">
                                    <span class="pl-2 text-2xl" style="border-left: 5px double var(--primary-color);">Relatório de Venda</span>
                                    <div class="mt-20 mb-30 w-100pr">
                                        <hr class="my-1">
                                        <div class="flex gap-4 justify-content-between align-items-center">
                                            <h6 class="m-0">Venda Total:</h6>
                                            <p class="m-0">{{ operation.totalValueSales | currency }}</p>
                                        </div>
                                        <hr class="my-1">
                                        <div class="flex gap-4 justify-content-between align-items-center">
                                            <h6 class="m-0">Venda total em dinheiro:</h6>
                                            <p class="m-0">{{ operation.totalValueSalesPaymentWithMoney | currency }}</p>
                                        </div>
                                        <hr class="my-1">
                                        <div class="flex gap-4 justify-content-between align-items-center">
                                            <h6 class="m-0">Venda tarjeta total:</h6>
                                            <p class="m-0">{{ (operation.totalValueSalesPaymentWithCredit + operation.totalValueSalesPaymentWithDebt + operation.totalValueSalesPaymentWithPix) | currency }}</p>
                                        </div>
                                        <hr class="my-1">
                                        <div class="flex gap-4 justify-content-between align-items-center">
                                            <h6 class="m-0">Outro pagamento recebido:</h6>
                                            <p class="m-0">{{ operation.totalValueSalesPaymentWithOthers | currency }}</p>
                                        </div>
                                        <hr class="my-1">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <span class="pl-2 text-2xl" style="border-left: 5px double var(--primary-color);">Dinheiro</span>
                                    <div class="mt-20 mb-30 w-100pr">
                                        <hr class="my-1">
                                        <div class="flex gap-4 justify-content-between align-items-center">
                                            <h6 class="m-0">Dinheiro total das vendas:</h6>
                                            <p class="m-0 severity_successfull_text  flex flex-1 justify-content-end">{{ operation.totalValue|currency }}</p>
                                        </div>
                                        <hr class="my-1">
                                        <div class="flex gap-4 justify-content-between align-items-center">
                                            <h6 class="m-0">Saldo de transações de turno:</h6>
                                            <p class="m-0 severity_danger_text flex flex-1 justify-content-end">{{ operation.totalValueExtraction|currency }}</p>
                                        </div>
                                        <hr class="my-1">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        }
    </div>
</p-sidebar>
