<div class="flex h-screen">
    <div class="w-full lg:w-4 h-full text-center px-6 py-6 flex flex-column justify-content-between">
        <img [src]="'assets/layout/images/logo-dark.svg'" class="h-4rem mt-4" alt="diamond-layout"/>
        <form (ngSubmit)="login()" [formGroup]="form" autocomplete="off" class="data-form w-full">
            <div class="flex flex-column align-items-center gap-4">
                <div class="mb-3">
                    <h2>Faça login na sua conta</h2>
                    <p>Esqueceu a senha? <a class="text-primary hover:underline cursor-pointer font-medium">Clique
                        aqui</a> para redefinir.</p>
                </div>
                <input pInputText id="username" placeholder="Username" formControlName="username" class="w-20rem"/>
                <p-password [feedback]="false" [toggleMask]="true" id="password" placeholder="Password" formControlName="password"
                            inputStyleClass="w-20rem"></p-password>
                <button pButton pRipple [disabled]="form.invalid" [label]="'login.singIn' | translate" type="submit" class="w-20rem"></button>
            </div>
        </form>
        <p class="text-color-secondary font-semibold"></p>
    </div>
    <div
        class="w-8 hidden lg:flex flex-column justify-content-between align-items-center px-6 py-6 bg-cover bg-norepeat"
        style="background-image: url('assets/images/login.jpeg')">
        <div class="mt-auto mb-auto z-5">
            <span class="block text-white text-7xl font-semibold">Tech Memo <br/>Seu parceiro ideal para o sucesso empresarial</span>
            <span class="block text-white text-3xl mt-4">Simplifique suas vendas e aumente seus lucros, <br/> controle seu estoque, aumente suas vendas. </span>
        </div>
        <div class="flex align-items-center gap-5  z-5">
            <span class="text-white font-semibold">O poder da informação em suas mãos.</span>
        </div>
    </div>
</div>
