<ng-template dialog-header>Create Category</ng-template>
<form [formGroup]="form">
    <div formResponsive width="650px">
        <div class="grid grid-nogutter flex-wrap gap-3 p-fluid">
            <div class="col-12 lg:col-12">
                <div class="grid formgrid">
                    <div class="col-12 lg:col-6 field">
                        <input pInputText type="text" formControlName="name" placeholder="Nome Category"
                               label="Nome Category">
                    </div>
                    <div class="col-12 lg:col-6 field">
                        <p class="align-items-center block flex font-bold justify-content-end gap-3 surface-border text-900">
                            <span>Plano de Conta</span>
                            <p-dropdown [options]="[]" placeholder="Plano de Conta"></p-dropdown>
                        </p>
                    </div>
                    <div class="col-12 field mb-0">
                        <span class="block text-900 font-bold">Description</span>
                        <p-editor [style]="{'height':'200px'}" formControlName="description" class="mb-0"
                                  styleClass="mb-0"></p-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="col-12 field p-0" *ngIf="storeCategoryService.selectedEntity$()">
    <p-divider align="center" type="dotted">
        <h5 class="mb-0">Sub-Grupo</h5>
    </p-divider>
    <p-table
        #dt
        [value]="categories"
        [rows]="25"
        [(selection)]="selectedCategories"
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Adicione o subgrupo</h5>
                <button pButton pRipple label="Adicionar" icon="pi pi-plus" (click)="novoSubgrupo()"
                        class="p-button-success mr-2 w-2"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subgrupo>
            <tr>
                <td>{{subgrupo.name}}</td>
                <td><p [innerHTML]="subgrupo.description | sanitizeHtml"></p></td>
                <td>
                    <button (click)="editItem(subgrupo)"  class="p-button-rounded p-button-text" icon="pi pi-pencil"
                            pButton
                            type="button"></button>
                    <button (click)="deleteItem(subgrupo)"  class="p-button-rounded p-button-text p-button-danger"
                            icon="pi pi-trash"
                            pButton
                            type="button"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">In total there
                are {{ categories ? categories.length : 0 }} subgrupos.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="subgrupoAdd" [style]="{ width: '450px' }" header="Novo Subgrupo"
          [modal]="true"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="formSub">
            <div class="field">
                <input type="text" pInputText id="label" formControlName="name" formFieldValidation/>
            </div>
            <div class="field">
                <p-editor [style]="{'height':'100px'}" formControlName="description" class="mb-0"
                          styleClass="mb-0"></p-editor>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-fw pi-trash" class="p-button-danger flex-1 p-button-outlined"
                (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" class="p-button-primary flex-1 border-round"
                (click)="saveFields()"></button>
    </ng-template>
</p-dialog>
<ng-template dialog-footer>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Fechar"
            (click)="close()"
            icon="pi pi-fw pi-times"></button>
    <button pButton pRipple class="p-button-primary flex-1 border-round" [disabled]="form.invalid" label="Save"
            (click)="save()"
            icon="pi pi-fw pi-check"></button>
</ng-template>
