<div class="grid pt-3">
    <div class="col-5 p-0">
        <form [formGroup]="form" class="w-full">
            <div class="col-12 px-0 pt-0">
                <p-panel>
                    <ng-template pTemplate="header">
                        <span class="mb-0 font-bold">Configurações</span>
                    </ng-template>
                    <div class="align-items-center flex flex-1 justify-content-between pb-3">
                        <label class="block font-bold"># Fatura</label>
                        <p-inputNumber formControlName="purchaseCode" inputStyleClass="w-7rem"></p-inputNumber>
                    </div>
                    <div class="align-items-center flex flex-1 justify-content-between pb-3">
                        <label class="block font-bold">Valor Fatura</label>
                        <p-inputNumber formControlName="purchaseValue"
                                       inputStyleClass="w-7rem"
                        ></p-inputNumber>
                    </div>
                    <div class="align-items-center flex justify-content-between pb-3">
                        <label class="block font-bold w-6">São parcelas provisórias</label>
                        <p-inputSwitch formControlName="provision"></p-inputSwitch>
                    </div>
                    <div class="align-items-center flex flex-auto gap-3 pb-3">
                        <label class="block font-bold w-4">Tipo Pagamento</label>
                        <p-dropdown class="w-full" styleClass="w-full" [appendTo]="'body'"
                                    [options]="paymentMethodService.lightEntities$()"
                                    formControlName="paymentStructureId"
                                    optionLabel="description"
                                    [showClear]="true"
                                    placeholder="Tipo Pagamento"></p-dropdown>
                    </div>

                    <div class="align-items-center flex flex-auto gap-3 pb-3">
                        <label class="block font-bold w-3">Observação</label>
                        <textarea rows="3" cols="53" [autoResize]="true" formControlName="description"
                                  pInputTextarea></textarea>
                    </div>
<!--                    <div class="align-items-center flex flex-auto gap-3 pb-3">-->
<!--                        <label class="block font-bold w-full">Multiples Parcelas</label>-->
<!--                        <p-inputSwitch [(ngModel)]="mParcelas" [ngModelOptions]="{standalone: true}"></p-inputSwitch>-->
<!--                    </div>-->

                    @if (mParcelas) {
                        <div class="align-items-center flex flex-auto gap-3 pb-3">
                            <label class="block font-bold w-full"># Parcelas</label>
                            <p-inputNumber [(ngModel)]="qParcelas" [ngModelOptions]="{standalone: true}" [max]="36"
                                           inputStyleClass="w-5rem"></p-inputNumber>
                        </div>
                        <div class="align-items-center flex flex-auto gap-3 justify-content-between  pb-3">
                            <label class="block font-bold">Vencimiento</label>
                            <div class="flex flex-column">
                                <div class="pb-2">
                                    <p-radioButton [value]="true" formControlName="monthlyPaymentInstallments"
                                                   [inputId]="'fixo'"></p-radioButton>
                                    <label class="ml-2">Dias Fixo</label>
                                </div>
                                <div>
                                    <p-radioButton [value]="false" formControlName="monthlyPaymentInstallments"
                                                   [inputId]="'corrigos'"></p-radioButton>
                                    <label class="ml-2">Dias Corrigos</label>
                                </div>
                            </div>
                        </div>
                        @if(!getFC('monthlyPaymentInstallments')){
                            <div class="align-items-center flex flex-auto gap-3 pb-3">
                                <label class="block font-bold w-full">Qtd Dias</label>
                                <p-inputNumber [(ngModel)]="consecutiveDaysPaymentInstallments" [ngModelOptions]="{standalone: true}"
                                               inputStyleClass="w-5rem"></p-inputNumber>
                            </div>
                        }
                        <div class="align-items-center flex flex-auto gap-3">
                            <label class="block font-bold w-full">Vencimiento 1 Parcela</label>
                            <p-calendar [(ngModel)]="rangeDates"
                                        [ngModelOptions]="{standalone: true}"
                                        [appendTo]="'body'"
                                        dateFormat="dd/mm/yy"
                                        [readonlyInput]="true"></p-calendar>
                        </div>
                        <div class="align-items-center flex flex-auto gap-3 pt-3">
                            <button pButton pRipple class="p-button-info flex-1 p-button-outlined"
                                    label="Gerar Parcelas"
                                    [disabled]="form.invalid"
                                    (click)="gerarParcelas()"
                                    icon="mdi mdi-cash-plus"></button>
                        </div>
                    }

                </p-panel>
            </div>
        </form>
    </div>
    <div class="col-7 pt-0">
        <div class="col-12 p-0 pb-2">
            <div class="flex justify-content-end">
                <div class="flex gap-2">
                    <button pButton pRipple class="p-button-primary flex-1 border-round"
                            label="Cadastrar Nova Parcelas"
                            [disabled]="!this.config?.billId"
                            (click)="addParcela()"
                            icon="mdi mdi-plus"></button>
                </div>
            </div>
        </div>
        <p-table [value]="paymentInstallments"
                 dataKey="doc" editMode="row"
                 [scrollable]="true"  styleClass="p-datatable-sm" [style]="{ 'min-height': '300px', 'max-height': '500px' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Doc</th>
                    <th>Data Vencimiento</th>
                    <th>Valor</th>
                    <th>Observação</th>
                    <th style="width:20%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="product">
                    <td>
                        {{ product.code }}
                    </td>
                    <td>{{ product.expirationDate | date:'dd/MM/YYYY' : '+0' }}</td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input
                                    pInputText
                                    type="number"
                                    [(ngModel)]="product.value"/>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ product.value | currency }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>{{ product.description }}</td>
                    <td>
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button
                                *ngIf="!editing"
                                pButton
                                pRipple
                                type="button"
                                pInitEditableRow
                                icon="mdi mdi-pencil"
                                (click)="onRowEditInit(product)"
                                class="p-button-rounded p-button-text">
                            </button>
                            <button
                                *ngIf="!editing"
                                pButton pRipple
                                type="button"
                                pCancelEditableRow
                                icon="mdi mdi-trash-can-outline"
                                (click)="deleteRow(product)"
                                class="p-button-rounded p-button-text p-button-danger">
                            </button>
                            <button
                                *ngIf="editing"
                                pButton
                                pRipple
                                type="button"
                                pSaveEditableRow
                                icon="mdi mdi-check"
                                (click)="onRowEditSave(product)"
                                class="p-button-rounded p-button-text p-button-success mr-2">
                            </button>
                            <button
                                *ngIf="editing"
                                pButton pRipple
                                type="button"
                                pCancelEditableRow
                                icon="mdi mdi-close"
                                (click)="onRowEditCancel(product, ri)"
                                class="p-button-rounded p-button-text p-button-danger">
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex justify-content-center">
                    Total {{ totalPaymentsInstall |currency }}.
                </div>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr class="text-center">
                    <td colspan="5">Nenhuma parcela ainda foi cadastrada</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
