<div class="card m-3">
    <div class="flex flex-column justify-content-between pb-2">
        <div class="flex-1">
            <p-table [value]="service.listEntities$()"
                     [scrollable]="true"
                     id="tableContas"
                     rowGroupMode="subheader" dataKey="bigId"
                     groupRowsBy="bigId"
                     (onRowExpand)="onRowExpand($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th>Documento</th>
                        <th>Fornecedor</th>
                        <th># Producto</th>
                        <th>Valor Total Productos</th>
                        <th>Estado</th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="groupheader" let-rowIndex="rowIndex" let-conta let-expanded="expanded">
                    <tr>
                        <td>
                            <p-button type="button" pRipple [pRowToggler]="conta" [text]="true" [rounded]="true"
                                      [plain]="true"
                                      [icon]="expanded ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-right'"/>
                        </td>
                        <td class="custom-td"><p class="mb-0 pr-6">{{ conta.code }}</p></td>
                        <td class="custom-td"><p
                            class="mb-0 pr-6">{{ conta.supplierName }}</p></td>
                        <td class="custom-td"><p class="mb-0">{{ conta.amountProducts }}</p>
                        </td>
                        <td class="custom-td"><p class="mb-0">{{ conta.totalValue| currency }}</p>
                        </td>
                        <td class="custom-td">
                            <p-tag value="{{'transfer-'+conta.state | translate}}" [severity]="conta.state | severity"/>
                        </td>
                        <td class="flex gap-3">
                            <button class="p-button p-button-sm p-button-success" icon="mdi mdi-truck-check mdi-24px"
                                    pButton
                                    [pTooltip]="'Aceitar Todos'"
                                    type="button"></button>
                            <button class="p-button p-button-sm p-button-danger" icon="mdi mdi-truck-remove mdi-24px"
                                    pButton
                                    [pTooltip]="'Devolver Todos'"
                                    type="button"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-installments>
                    <tr>
                        <td colspan="8">
                            <p-table [value]="installments.paymentInstallments" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Code</th>
                                        <th># Parcela</th>
                                        <th>Data da Parcela</th>
                                        <th>Doc Fornecedor</th>
                                        <th>Fornecedor</th>
                                        <th>Valor</th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-bills let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{ bills.code }}</td>
                                        <td>{{ rowIndex + 1 }}</td>
                                        <td>{{ bills.expirationDate | date }}</td>
                                        <td>{{ bills.supplierDocument | cpfCnpj }}</td>
                                        <td> {{ bills.supplierName }} {{ bills.supplierLastName }}</td>
                                        <td> {{ bills.value | currency }}</td>
                                        <td>
                                            <button class="p-button-rounded p-button-text"
                                                    icon="mdi mdi-pencil mdi-24px"
                                                    pButton
                                                    [disabled]="bills.paid"
                                                    type="button"></button>
                                            <button class="p-button-rounded p-button-text p-button-success"
                                                    icon="mdi mdi-cash-check mdi-24px"
                                                    pButton
                                                    [disabled]="bills.paid"

                                                    type="button"></button>
                                            <button class="p-button-rounded p-button-text p-button-danger"
                                                    icon="mdi mdi-delete mdi-24px"
                                                    [disabled]="bills.paid"
                                                    pButton
                                                    type="button"></button>
                                            @if (bills.paid) {
                                                <button class="p-button-rounded p-button-text" (c
                                                        icon="mdi mdi-eye mdi-24px"
                                                        pButton
                                                        type="button"></button>
                                            }
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="8">Nao tem envios pendentes</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center" colspan="8">Nao tem envios pendentes</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="paginator">
            <p-paginator
                (onPageChange)="pageChange($event)"
                [first]="first"
                [rows]="size"
                [totalRecords]="0"
                [rowsPerPageOptions]="[20, 50, 100]"/>
        </div>
    </div>
</div>
