<div class="card m-3">
    <div>
        <button pButton icon="mdi mdi-arrow-left-thin-circle-outline"
                (click)="window.history.back()"
                class="p-element text-2xl p-1 p-button p-component p-button-icon-only"><span
            class="p-button-icon mdi mdi-arrow-left-thin-circle-outline" aria-hidden="true"></span>
        </button>
    </div>
    <p-splitter [panelSizes]="[50, 50]" [minSizes]="[30, 30]">
        <ng-template pTemplate>
            <p-tree
                [value]="service.nodesList$()"
                class="w-full"
                selectionMode="single"
                [(selection)]="selectedNode"
                [filter]="true"
                (onNodeSelect)="nodeSelect($event)"
                filterPlaceholder="Strict Filter">
                <ng-template let-state pTemplate="togglericon">
                    @if (!state) {
                        <i class="mdi mdi-folder-outline"></i>
                    } @else if (state) {
                        <i class="mdi mdi-folder-open-outline text-primary"></i>
                    }
                </ng-template>
            </p-tree>
        </ng-template>
        <ng-template pTemplate>
            <c-node-struct [node]="selectedNode" (onUpdateNode)="updateNode($event)" class="w-full"/>
        </ng-template>
    </p-splitter>

</div>
