<div class="card m-3">
    <c-data-table [headers]="headersTable" [service]="service">

        <ng-template let-data tableRow="pattern">
            @if (data.pattern) {
                <span class="mdi mdi-check-circle-outline text-green-500"></span>
            } @else if (!data.pattern) {
                <span class="mdi mdi-close-circle-outline text-danger"></span>
            }
        </ng-template>
        <ng-template let-data tableRow="enabled">
            <p-inputSwitch [ngModel]="data.enabled" (onChange)="patchStructure($event, data)"></p-inputSwitch>
        </ng-template>
        <ng-template let-data tableRow="action">
            <button pButton icon="mdi mdi-file-tree-outline mdi-24px" type="button" class="p-button-text p-button-rounded"
                    pTooltip="{{'balance.structure.tooltip.balance' | translate}}" tooltipPosition="top"
                    [routerLink]="['/financial/structure-data', data.id]"></button>
        </ng-template>
    </c-data-table>
</div>



