<div class="card m-3">
    <form [formGroup]="form">
        <div class="grid p-4">
            <div class="col-12">
                <h4 class="text-center">Configurações de dados da Loja</h4>
            </div>

            <div class="col-12 lg:col-8">
                <div class="grid">
                    <div class="col-10">
                        <div class="align-items-center flex flex-auto gap-3">
                            <label class="flex w-2 block font-bold">Nome Loja</label>
                            <input pStyleClass="w-full" formControlName="name" class="w-full" type="text" pInputText/>
                        </div>
                    </div>
                    <div class="col-2">
                        <p-button class="p-button-text" icon="pi pi-check"></p-button>
                    </div>
                    <div class="col-10">
                        <div class="align-items-center flex flex-auto gap-3">
                            <label class="block font-bold">Quantidade de mesas</label>
                            <p-inputNumber formControlName="quantityTables" [showButtons]="true" inputId="stacked"></p-inputNumber>
                        </div>
                    </div>
                    <div class="col-2">
                        <p-button class="p-button-text" icon="pi pi-check" [disabled]="!enableQuantity" (click)="configShop()"></p-button>
                    </div>
                </div>

            </div>
            <div class="col-12 lg:col-4" formGroupName="address">
                <h4 class="align-items-center block border-bottom-1 flex font-bold justify-content-between p-2 surface-border text-900">
                    <span>Endereco</span>
                </h4>
                <div class="grid">
                    <div class="field pb-0 mb-0 col-12">
                    <span class="p-input-icon-right w-full">
                        <i class="pi pi-spin pi-spinner text-primary" *ngIf="searchingCEP"></i>
                        <p-inputMask styleClass="w-full" class="w-full" id="cep"
                                     placeholder="CEP" mask="99.999-999"
                                     formControlName="cep"
                                     (keyup)="verifyCEP($event)"
                        ></p-inputMask>
                    </span>
                    </div>
                    <div class="field pb-0 mb-0 col-12">
                        <input pStyleClass="w-full" class="w-full" formControlName="street" pInputText type="text" placeholder="Endereco">
                    </div>
                    <div class="col-12 pb-0 mb-0 field">
                        <div class="grid">
                            <div class="field pb-0 mb-0 col-6">
                                <input pStyleClass="w-full" class="w-full" pInputText formControlName="number" type="text" placeholder="Numero">
                            </div>
                            <div class="field pb-0 mb-0 col-6">
                                <input pStyleClass="w-full" class="w-full" pInputText type="text"
                                       formControlName="complement"
                                       placeholder="Complemento">
                            </div>
                        </div>
                    </div>
                    <div class="field pb-0 mb-0 col-12">
                        <input pStyleClass="w-full" class="w-full" pInputText type="text"
                               formControlName="neighborhood"
                               placeholder="Barrio">
                    </div>
                    <div class="field pb-0 mb-0 col-12">
                        <div class="grid">
                            <div class="field pb-0 mb-0 col-3">
                                <input pStyleClass="w-full" class="w-full" pInputText type="text"
                                       formControlName="uf"
                                       placeholder="UF">
                            </div>
                            <div class="field pb-0 mb-0 col-9">
                                <input pStyleClass="w-full" class="w-full" pInputText type="text"
                                       formControlName="city"
                                       placeholder="Cidade">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
