<ng-template dialog-header>
    Edição de domínios de aplicativo
</ng-template>
<form class="overflow-hidden" [formGroup]="form">
    <div class="grid" formResponsive>
        <div class="col-12 md:col-8">
            <div class="field p-fluid">
                <label class="required block" for="description">
                    {{ 'security.user.labels.description' | translate }}
                </label>
                <input formControlName="description" formFieldValidation id="description" pInputText type="text">
            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="field p-fluid">
                <label class="required block" for="domainType">
                    {{ 'security.role.labels.domainType' | translate }}
                </label>
                <p-dropdown [options]="domainArray" appendTo="body" formControlName="type"
                            formFieldValidation
                            placeholder="{{ 'security.role.labels.domainType' | translate }}"
                            id="domainType">
                    <ng-template let-selected pTemplate="selectedItem">
                        <ng-template [ngIf]="selected">
                            {{ ('security.role.select.' + selected) | translate }}
                        </ng-template>
                    </ng-template>
                    <ng-template let-area pTemplate="item">
                        <div>{{ ('security.role.select.' + area) | translate }}</div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>
</form>
<ng-template dialog-footer>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="{{'common.cancel' | translate}}"
            (click)="ref.close('Cancel')"
            icon="pi pi-fw pi-times"></button>
    <button pButton pRipple class="p-button-primary flex-1 border-round" label="{{'common.save' | translate}}"
            [disabled]="form.invalid"
            (click)="save()" icon="pi pi-fw pi-check"></button>
</ng-template>
