<div class="banner_section">
    <div class="inner_banner_section">
        <div class="banner_img">
            <img src="../.././../../../../../../assets/images/commerce/banner_default.jpg" alt="" srcset="" class="banner">
        </div>
        <div class="banner__content">
            <div class="inner_banner__content">
                <div class="container">
                    <div class="flex align-items-center justify-content-start col-offset-1">
                        <div class="xl:col-2 col-lg-2 col-md-3 col-3">
                            <div class="banner_logo">
                                <img src="../.././../../../../../../assets/images/commerce/logo_default.svg" alt=""
                                     srcset="">
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10  md:col-9 col-9">
                            <div class="banner_main_content">
                                <div class="to_heading">
                                    <h3>TINA&CO</h3>
                                </div>
                                <div class="location">
                  <span>
                    <i class="fa-solid fa-location-dot"></i>
                  </span>
                                    <h4>Mendoza 1678 C1428DJP C.A.B.A</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner_bars">
    <div class="inner_banner_bars">
        <div class="container">
            <div class="flex">
                <div class="flex-1"></div>
                <div class="banner_bottom_tools">
                    <ul>
                        <li><a href="">800 productos</a></li>
                        <li><a href=""><span class="biking"><i class="mdi mdi-moped-outline"></i></span>ENTREGA
                            LOCAL</a></li>
                        <li><a href=""><span class="shopping"><i class="mdi mdi-store-clock-outline"></i></span>RETIRO
                            EN EL DOMICILIO</a></li>
                    </ul>
                </div>
                <div class="flex-1"></div>

            </div>
        </div>
    </div>
</div>
