<div class="card m-3">
    <c-data-table [action]="true" [exportBtn]="false"
                  [headers]="headersTable" [service]="service" [showCreate]="true">
        <ng-template let-data tableRow="type">
            <p-badge [value]="data.type | translate" [severity]="data.type | severity"></p-badge>
        </ng-template>
        <ng-template let-data tableRow="balanceAccountType">
            <span
                class="badge-{{data.balanceAccountType}}">{{ 'balance.structure.type.' + data.balanceAccountType | translate }}</span>
        </ng-template>
    </c-data-table>
</div>

