.badge-ACTIVE{
    background-color: #2d5ea8 !important;
    color: #ffffff;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 0 .5rem;
}

.badge-PASSIVE{
    background-color: #c11f00 !important;
    color: #ffffff;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 0 .5rem;
}

.badge-DRE{
    background-color: #385623 !important;;
    color: #ffffff;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 0 .5rem;
}
