<div class="my-4">
    <ng-template [ngTemplateOutletContext]="{$implicit: service.actPasDem, columns: service.columns}"
                 [ngTemplateOutlet]="treeTable"/>
</div>
<ng-template #treeTable let-columns="columns" let-columnsSec="columnsSec" let-data let-empty="empty">
    <p-treeTable [columns]="columns" [frozenColumns]="[{header: 'k', field: 'name'}]" [scrollable]="true"
                 [value]="data" class="balanceK-table" frozenWidth="485px">
        <ng-template let-columns pTemplate="colgroup">
            <colgroup>
                @for (col of columns | colHeader; track col) {
                    <col [style.width.px]="col.width">
                }
            </colgroup>
        </ng-template>
        <ng-template let-column pTemplate="frozenheader">
            <tr>
                <th>Contas</th>
            </tr>
        </ng-template>
        <ng-template let-rowData="rowData" let-rowNode pTemplate="frozenbody">
            <tr class="balance-{{rowData.class}}" [ngClass]="{'bg-leaf' : rowData | leafCheck}">
                <td fontNameCol>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{ rowData.name }}
                </td>
            </tr>
        </ng-template>
        <ng-template let-columns pTemplate="header">
            <tr>

                @for (col of columns | colHeader | extraHeader; track col) {
                    <th>
                        <div class="white-space-nowrap flex align-items-center justify-content-center">
                            {{ col.header }}
                        </div>
                    </th>
                }
            </tr>
        </ng-template>
        <ng-template let-columns="columns" let-node="node" let-rowData="rowData" pTemplate="body">
            <tr class="balance-{{rowData.class}}" [ngClass]="{'bg-leaf' : rowData | leafCheck}">
                @for (col of columns | colHeader | extraHeader; track col) {
                    <td class="text-center white-space-nowrap">
                        @if (empty && !node.leaf) {
                            <span [cnpj]="cnpj" [data]="rowData" [field]="col.field" [source]="col.source"
                                  [index]="empty" traceBalance>
                               {{ rowData | numberK: col.field: [1, 2] : empty }}
                            </span>
                        } @else {
                            <span [cnpj]="cnpj" [data]="rowData" [field]="col.field" [source]="col.source"
                                  [index]="empty" traceBalance>
                               {{ rowData | numberK: col.field: [1, 2] : empty }}
                            </span>
                        }
                    </td>
                }
            </tr>
        </ng-template>
    </p-treeTable>
</ng-template>
