:host::ng-deep {
    .p-dialog-content {
        overflow: hidden !important;
    }
    .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.5rem 0.5rem !important;
    }

    .layout-wrapper.layout-slim .layout-topbar-slim {
        width: 100%;
        margin-left: 0;
    }
}
