<ng-template dialog-header>Novo Negocio</ng-template>
<form [formGroup]="form">
    <div class="grid grid-nogutter flex-wrap gap-2 p-fluid">

        <div class="col-12 field mt-4">
            <span class="p-float-label p-input-icon-right">
                <i class="icon-spinner mdi mdi-loading text-primary" *ngIf="searchingCNPJ"></i>
               <p-inputMask id="cnpj"
                            formControlName="cnpj"
                            placeholder="CNPJ" mask="99.999.999/9999-99" (keyup)="verifyCNPJ($event)">
                                    </p-inputMask>
                 <label>CNPJ</label>
            </span>
        </div>
        <div class="col-12 field">
            <span class="p-float-label">
                <input pInputText type="text" formControlName="socialReason" placeholder="Razon Social">
                <label>Razon Social</label>
            </span>
        </div>
        <div class="col-12 field">
            <span class="p-float-label">
                <input pInputText type="text" formControlName="name" placeholder="Nome da empresa">
                <label>Nome da empresa</label>
            </span>
        </div>
        <div class="col-12 field mt-3">
            <span class="p-float-label">
                <p-dropdown
                    [options]="listUser" optionLabel="name"
                    formControlName="userId"
                    emptyMessage="{{'primeng.emptyMessage' | translate}}"
                    emptyFilterMessage="{{'primeng.emptyFilterMessage' | translate}}"
                    optionValue="id"
                    [autoDisplayFirst]="false"
                    appendTo="body" styleClass="p-sidebar-sm"
                    [style]="{'width': '100%'}" id="subordination">
                      <ng-template let-organization pTemplate="item">
                        <div class="organization-item flex flex-row gap-2 ">
                          <div class="name font-medium">{{ organization.name }}</div>
                        </div>
                      </ng-template>
                </p-dropdown>
                 <label for="subordination">Selecione administrador</label>
            </span>
        </div>
        <div class="align-content-center col-12 field flex gap-3 mt-3">
            <label class="mb-0">Popular produtos</label>
            <p-inputSwitch formControlName="populateInitialData"></p-inputSwitch>
        </div>
        <div class="flex flex-column justify-content-start gap-2">
            <label>Tipo de Negócio</label>
            <p-selectButton [options]="commerceTypeEnum"
                            formControlName="type"
                            styleClass="w-18rem"
                            (onChange)="onChangeCommerceType($event)"
                            optionValue="value"></p-selectButton>
        </div>

    </div>
</form>
<ng-template dialog-footer>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Fechar" (click)="ref.close()"
            icon="mdi mdi-close"></button>
    <button pButton pRipple class="p-button-primary flex-1 border-round" label="Salvar" [disabled]="form.invalid"
            (click)="save()"
            icon="mdi mdi-check"></button>
</ng-template>
