<div class="flex flex-column justify-content-between gap-3 h-full">
    <div>
        <div class="flex flex-1 w-full gap-3" style="width: 220px">
            <p-button class="flex-1"
                      (click)="addNameOrder()"
                      styleClass="w-full p-button-outlined flex-1 flex-column flex justify-content-center">
                <i class="pi pi-user-plus text-5xl"></i>
                <span class="text-xl">(F6) <br> CPF</span>
            </p-button>
            <p-button
                (click)="doPagamento()"
                [disabled]="!disableAllFields"
                class="flex-1"
                styleClass="w-full p-button-outlined flex-1 flex-column flex justify-content-center">
                <i class="pi pi-credit-card text-5xl"></i>
                <span class="text-xl">(F7) <br> Pagamento</span>
            </p-button>
            <p-button
                (onClick)="voltarAtras()"
                [disabled]="!disableAllFields || tableOrderClosed"
                class="flex-1"
                styleClass="w-full p-button-danger p-button-outlined flex-1 flex-column flex justify-content-center">
                <i class="pi pi-times text-5xl"></i>
                <span class="text-xl">Fechar Pagamento</span>
            </p-button>
        </div>
        <div class="flex py-3">
            <div class="gap-2 flex flex-column">
                <form [formGroup]="formPagamento">
                    <div class="flex flex-1">
                        <h5 class="mb-0 font-bold severity_successfull_text mr-2 flex align-items-center"
                            style="width: 9rem !important;">Valor a Pagar:</h5>
                        <p-inputNumber formControlName="amountPaid" inputStyleClass="w-8rem text-2xl payment_succesfull"
                                       inputId="locale-user"
                                       [minFractionDigits]="2"
                        >
                        </p-inputNumber>
                    </div>
                    <div class="flex flex-1">
                        <h5 class="mb-0 font-bold severity_pending_text mr-2 flex align-items-center"
                            style="width: 9rem !important;">Valor Pago:</h5>
                        <p-inputNumber formControlName="paymentValue" inputStyleClass="w-8rem text-2xl payment_pending"
                                       inputId="locale-user"
                                       [minFractionDigits]="2"
                        >
                        </p-inputNumber>
                    </div>
                    <div class="flex flex-1">
                        <h5 class="mb-0 font-bold severity_discount_text mr-2 flex align-items-center"
                            style="width: 9rem !important;">Desconto:</h5>
                        <p-inputNumber formControlName="discount" inputStyleClass="w-8rem text-2xl payment_discount"
                                       inputId="locale-user"
                                       [minFractionDigits]="2"
                        >
                        </p-inputNumber>
                    </div>
                    <div class="flex flex-1">
                        <h5 class="mb-0 font-bold severity_troca_text mr-2 flex align-items-center"
                            style="width: 9rem !important;">Troca:</h5>
                        <p-inputNumber formControlName="paidChange" inputStyleClass="w-8rem text-2xl payment_troca"
                                       inputId="locale-user"
                                       [minFractionDigits]="2"
                        >
                        </p-inputNumber>
                    </div>
                </form>
            </div>
            <div class="gap-2 flex flex-column">
                <div class="flex align-items-center justify-content-start">
                    <h5 class="flex justify-content-evenly mb-0 mx-4">Dividir por</h5>
                    <div class="w-3">
                        <p-inputNumber [disabled]="disableAllFields"
                                       [(ngModel)]="divider"
                                       [min]="1"
                                       (keydown)=dividerChange($event)
                                       inputStyleClass="text-2xl w-3"></p-inputNumber>
                    </div>
                </div>
                <div class="flex flex-column h-full justify-content-between">
                    <p-button
                        [disabled]="disableAllFields"
                        (click)="partialPayment()"
                        class="flex justify-content-around ml-5"
                        styleClass="p-button-outlined flex justify-content-center">
                        <i class="mdi mdi-percent mr-2"></i>
                        <span class="text-xl">Parcial</span>
                    </p-button>
                    <p-button
                        [disabled]="disableAllFields"
                        (click)="addPaymentDone()"
                        class="flex justify-content-around ml-4"
                        styleClass="w-8 flex justify-content-center mr-6">
                        <i class="mdi mdi-currency-usd mr-2"></i>
                        <span class="text-xl">Efectuar</span>
                    </p-button>
                </div>
            </div>
        </div>
        <div class="flex flex-column flex-1 gap-3 pt-3">
            <p-table [value]="paymentsDone" [scrollable]="true" [styleClass]="'p-datatable-sm'">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="custom-th font-bold" alignFrozen="left" pFrozenColumn></th>
                        <th class="custom-th font-bold">Descrição de pagamento</th>
                        <th class="custom-th font-bold">Valor Receita</th>
                        <th class="custom-th font-bold">Valor Pago</th>
                        <th class="custom-th font-bold">Valor Troco</th>
                        <th class="custom-th font-bold">Valor Desc.</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pagamento>
                    <tr>
                        <td class="flex gap-2">
                            <p-button styleClass="border-round-3xl severity_danger small"
                                      (click)="removePayment(pagamento)"
                                      icon="mdi mdi-close"></p-button>
                            <p-button styleClass="border-round-3xl severity_info small"
                                      [disabled]="pagamento.products.length === 0"
                                      (onClick)="showProductsPagamento(pagamento.products)"
                                      icon="mdi mdi-magnify"
                            >
                            </p-button>
                        </td>
                        <td>{{ pagamento.method }}</td>
                        <td>{{ pagamento.receita |currency }}</td>
                        <td>{{ pagamento.payment |currency }}</td>
                        <td>{{ pagamento.paidChange |currency }}</td>
                        <td>{{ pagamento.discount |currency }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="flex gap-4">
        <div class="flex flex-1">
            <h5 class="mb-0 font-bold severity_danger mr-2 flex align-items-center" style="width: 7rem !important;">
                Total pago</h5>
            <p-inputNumber [(ngModel)]="pagamento" inputStyleClass="w-full text-2xl" inputId="locale-user"
                           [minFractionDigits]="2"
                           [disabled]="true"></p-inputNumber>
        </div>
        <div class="flex flex-1 justify-content-end">
            <h5 class="mb-0 font-bold severity_successfull mr-2 flex align-items-center"
                style="width: 7rem !important;">Valor Restante</h5>
            <p-inputNumber [(ngModel)]="remaining_amount"
                           inputStyleClass="w-full text-2xl" inputId="locale-user"
                           [minFractionDigits]="2"
                           [disabled]="true"></p-inputNumber>
        </div>
    </div>
</div>
<p-dialog header="Lista de produtos de pagamento" [(visible)]="show" [modal]="true" [style]="{ width: '65vw' }"
          [draggable]="false" [resizable]="false">
    <p-table [value]="productsPagamento" [tableStyle]="{'min-width': '65vw'}">
        <ng-template pTemplate="header">
            <tr>
                <th class="custom-th font-bold">Nome do Produto</th>
                <th class="custom-th font-bold">Unit</th>
                <th class="custom-th font-bold">Quantia</th>
                <th class="custom-th font-bold">Preço</th>
                <th class="custom-th font-bold">Valor Adicional</th>
                <th class="custom-th font-bold" alignFrozen="right" pFrozenColumn>Preço Total
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td class="custom-td" style="min-width: 220px">{{ product.name | wrapText: 25 }}
                </td>
                <td class="custom-td">
                    {{ product.amount }}
                </td>
                <td class="custom-td">{{ product.unit === 'KILO' ? product.peso_liquido : ('-') }}</td>
                <td class="custom-td">{{ product.salePrice| currency }}</td>
                <td class="custom-td">{{ product.totalAdditionalsValue| currency }}</td>
                <td class="custom-td font-bold" alignFrozen="right"
                    pFrozenColumn>{{ product.soldPerUnits ? ((product.salePrice + product.totalAdditionalsValue) * product.amount | currency) : (product.salePrice | currency) }}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Fechar"
                (click)="show =false"
                icon="mdi mdi-close"></button>
    </ng-template>
</p-dialog>
