<ng-template dialog-header>
    Clientes da Loja
</ng-template>
<form class="overflow-hidden" [formGroup]="form">
    <div class="grid" formResponsive width="650px">
        <div class="col-12 md:col-6">
            <div class="field p-fluid">
                <label class="required block" for="name">
                    {{ 'security.user.labels.name' | translate }}
                </label>
                <input formControlName="name" formFieldValidation id="name" pInputText type="text">
            </div>
            <div class="field p-fluid">
                <label class="required block" for="phone">
                    {{ 'security.user.labels.phone' | translate }}
                </label>
                <p-inputMask formControlName="phone" formFieldValidation id="phone"
                             mask="(99) 99999-9999"></p-inputMask>
            </div>
            <div class="field p-fluid">
                <label class="required block" for="cpf">
                    {{ 'security.user.labels.cpf' | translate }}
                </label>
                <p-inputMask formControlName="cpf" id="cpf" mask="999.999.999-99"></p-inputMask>
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="border-1 surface-border border-round p-2" formGroupName="address">
                <p class="align-items-center block border-bottom-1 flex font-bold justify-content-between p-2 surface-border text-900">
                    <span>Endereco</span>
                </p>
                <div class="field p-fluid">
                        <span class="p-input-icon-right">
                        <i class="icon-spinner mdi mdi-loading text-primary" *ngIf="searchingCEP"></i>
                        <p-inputMask id="cep" placeholder="CEP" mask="99.999-999" formControlName="cep"
                                     (keyup)="verifyCEP($event)"></p-inputMask>
                    </span>
                </div>
                <div class="field p-fluid">
                    <input pInputText type="text" formControlName="street" placeholder="Endereco">
                </div>
                <div class="field p-fluid">
                    <input pInputText type="text" placeholder="Numero" formControlName="number">
                </div>
                <div class="field p-fluid">
                    <input pInputText type="text" placeholder="Complemento" formControlName="complement">
                </div>
                <div class="field p-fluid">
                    <input pInputText type="text" placeholder="Barrio" formControlName="neighborhood">
                </div>
                <div class="field p-fluid">
                    <input pInputText type="text" placeholder="Cidade" formControlName="city">
                </div>
                <div class="field p-fluid">
                    <input pInputText type="text" placeholder="UF" formControlName="uf">
                </div>
            </div>
        </div>
    </div>
</form>
<ng-template dialog-footer>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="{{'common.cancel' | translate}}"
            (click)="ref.close('Cancel')"
            icon="mdi mdi-close"></button>
    <button pButton pRipple class="p-button-primary flex-1 border-round" label="{{'common.save' | translate}}"
            [disabled]="form.invalid"
            (click)="save()" icon="mdi mdi-check"></button>
</ng-template>
