<div class="card m-3" style="height: calc(100vh - 85px);">
    <form [formGroup]="form">
        <div class="grid p-4 container-grid">
            <div class="col-12 p-0 area-menu">
                <p-listbox [options]="items" [group]="true" [(ngModel)]="selectedItems"
                           [ngModelOptions]="{standalone: true}"
                           [style]="{ width: '15rem',height:'100%', maxHeight: '100%'}">
                    <ng-template let-group pTemplate="group">
                        <div class="flex align-items-center">

                            <span class="font-bold">{{ group.label }}</span>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <i class="{{item.icon}}"></i>
                            <span>{{ item.label }}</span>
                        </div>
                    </ng-template>
                </p-listbox>
                <!--                <p-menu class="h-full" [model]="items" styleClass="h-full"></p-menu>-->
            </div>
            <div class="col-12 pl-6 area-content">
                <div class="wrapper">
                    <div class="container-wrapper">
                        <ng-template [ngIf]="selectedItems=== 'dados'">
                            <div class="top">
                                <div class="grid">
                                    <div class="col-6">
                                        <div class="grid">

                                            <div class="col-12">
                                                <h4 class="align-items-center block border-bottom-1 flex font-bold justify-content-between p-2 surface-border text-900">
                                                    <span>Dados Cadastrais</span>
                                                </h4>
                                            </div>
                                            <div class="col-4">
                                                <div class="align-items-center flex flex-auto gap-3">
                                                    <label class="block font-bold">CNPJ</label>
                                                    <span class="p-input-icon-right">
                                                    <i class="icon-spinner mdi mdi-loading text-primary"
                                                       *ngIf="searchingCNPJ"></i>
                                                   <p-inputMask id="cnpj"
                                                                class="w-full"
                                                                formControlName="document"
                                                                placeholder="CNPJ" mask="99.999.999/9999-99"
                                                                (keyup)="verifyCNPJ($event)">
                                                                        </p-inputMask>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="align-items-center flex flex-auto gap-3">
                                                    <label class="block font-bold w-3">Razon Social</label>
                                                    <input class="w-full" pInputText type="text"
                                                           formControlName="socialReason"
                                                           placeholder="Razon Social">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="align-items-center flex flex-auto gap-3">
                                                    <label class="flex w-3 block font-bold">Nome Loja</label>
                                                    <input pStyleClass="w-full" formControlName="name" class="w-full"
                                                           type="text"
                                                           pInputText/>
                                                </div>
                                            </div>

                                            <div class="col-10">
                                                <div class="align-items-center flex flex-auto gap-3">
                                                    <label class="block font-bold">Quantidade de mesas</label>
                                                    <p-inputNumber formControlName="quantityTables" [showButtons]="true"
                                                                   inputId="stacked"></p-inputNumber>
                                                </div>
                                            </div>
                                            <p-fieldset legend="Comandas">
                                                <div class="col-10">
                                                    <div class="align-items-center flex flex-auto gap-3">
                                                        <label class="block font-bold">Quantidade</label>
                                                        <p-inputNumber formControlName="amountOrders" [showButtons]="true"
                                                                       inputId="stacked"></p-inputNumber>
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <div class="align-items-center flex flex-auto gap-3">
                                                        <label class="block font-bold w-10rem">Codigo Inicial</label>
                                                        <p-inputNumber formControlName="orderCodePrefix" [showButtons]="true"
                                                                       inputId="stacked"></p-inputNumber>
                                                    </div>
                                                </div>
                                            </p-fieldset>

                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="grid">

                                            <div class="col-12" formGroupName="address">
                                                <h4 class="align-items-center block border-bottom-1 flex font-bold justify-content-between p-2 surface-border text-900">
                                                    <span>Endereco</span>
                                                </h4>
                                                <div class="grid">
                                                    <div class="field pb-0 mb-0 col-12">
                                <span class="p-input-icon-right w-full">
                                    <i class="icon-spinner mdi mdi-loading text-primary" *ngIf="searchingCEP"></i>
                                    <p-inputMask styleClass="w-full" class="w-full" id="cep"
                                                 placeholder="CEP" mask="99.999-999"
                                                 formControlName="cep"
                                                 (keyup)="verifyCEP($event)"
                                    ></p-inputMask>
                                </span>
                                                    </div>
                                                    <div class="field pb-0 mb-0 col-12">
                                                        <input pStyleClass="w-full" class="w-full"
                                                               formControlName="street"
                                                               pInputText
                                                               type="text"
                                                               placeholder="Endereco">
                                                    </div>
                                                    <div class="col-12 pb-0 mb-0 field">
                                                        <div class="grid">
                                                            <div class="field pb-0 mb-0 col-6">
                                                                <input pStyleClass="w-full" class="w-full" pInputText
                                                                       formControlName="number"
                                                                       type="text" placeholder="Numero">
                                                            </div>
                                                            <div class="field pb-0 mb-0 col-6">
                                                                <input pStyleClass="w-full" class="w-full" pInputText
                                                                       type="text"
                                                                       formControlName="complement"
                                                                       placeholder="Complemento">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="field pb-0 mb-0 col-12">
                                                        <input pStyleClass="w-full" class="w-full" pInputText
                                                               type="text"
                                                               formControlName="neighborhood"
                                                               placeholder="Barrio">
                                                    </div>
                                                    <div class="field pb-0 mb-0 col-12">
                                                        <div class="grid">
                                                            <div class="field pb-0 mb-0 col-3">
                                                                <input pStyleClass="w-full" class="w-full" pInputText
                                                                       type="text"
                                                                       formControlName="uf"
                                                                       placeholder="UF">
                                                            </div>
                                                            <div class="field pb-0 mb-0 col-9">
                                                                <input pStyleClass="w-full" class="w-full" pInputText
                                                                       type="text"
                                                                       formControlName="city"
                                                                       placeholder="Cidade">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-6">
                                                <div class="align-items-center flex flex-auto gap-3">
                                                    <label class="block font-bold">Tienda ativa</label>
                                                    <p-inputSwitch formControlName="enable"></p-inputSwitch>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="align-items-center flex flex-auto gap-3">
                                                    <label class="block font-bold">Quer vender online</label>
                                                    <p-inputSwitch formControlName="hasOnlineCommerce"></p-inputSwitch>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="selectedItems=== 'visual'">
                            <div class="top">
                                <div class="p-0">
                                    <h4 class="align-items-center block border-bottom-1 flex font-bold justify-content-between p-2 surface-border text-900">
                                        <span>Configurações visuais</span>
                                    </h4>
                                    <div class="grid overflow-y-auto" style="max-height: 670px">
                                        <div class="col-4">
                                            <app-config></app-config>
                                        </div>
                                        <div class="col-8">
                                            <div class="grid">
                                                <div class="col-12">
                                                    <h5 class="mb-1">LOGOTIPO COMERCIAL</h5>
                                                    <p class="p_text_logo_del_comercio">
                                                        Uma boa imagem de marca
                                                        favorecerá a
                                                        percepção
                                                        que tenham
                                                        seus clientes sobre seus produtos e serviços. Carreguei o
                                                        logotipo
                                                        da sua
                                                        empresa e então
                                                        eles reconhecerão mais rápido.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="grid">
                                                <div class="col-12 pl-5 div_img_btn">
                                                    <input type="file"
                                                           class="btn_subir_archivo uploadLogo cursor-pointer"
                                                           accept="image/*">
                                                    <div class="div_img">
                                                        <img class="img_foto_commercio  cursor-pointer"
                                                             [src]="imgLogo" alt="">
                                                    </div>
                                                    <div class="div_btn">
                                                        <p class="p_tamanno_recomendado"><span
                                                            class="span_tamanno_recomendado">tamaño recomendado</span>
                                                        </p>
                                                        <p class="p_tamanno_pxs">130 px / 130 px</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row pt-2">
                                                <div class="col-12">
                                                    <h5 class="mb-1">BANNER DE PORTADA</h5>
                                                    <p class="p_text_banner_de_portada">
                                                        Nosso sistema oferece um banner padrão para sua loja. Para
                                                        personalizá-lo,
                                                        adicionei
                                                        a imagem
                                                        do arquivo que você deseja usar.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="grid">
                                                <div class="col-12">
                                                    <input type="file"
                                                           class="btn_subir_archivo uploadBanner1 cursor-pointer"
                                                           accept="image/*">
                                                    <img class="img_default_banner_image cursor-pointer"
                                                         style="object-fit: cover"
                                                         [src]="imgBanner">
                                                </div>
                                            </div>

                                            <div class="row -mt-5 pb-5">
                                                <div class="col-12">
                                                    <div>
                                                        <p class="p_tamanno_recomendado"><span
                                                            class="span_tamanno_recomendado">tamanho recomendado</span>
                                                        </p>
                                                        <p class="p_tamanno_pxs">1280 px / 225 px</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="selectedItems=== 'printers'">
                            <div class="top">
                                <div class="flex justify-content-between align-items-center pb-4">
                                    <h4 class="text-center">Configurações das impresoras</h4>
                                    <p-button (onClick)="addEditPrintersCashRegister(null,'CAIXA')"
                                              label="Nova"></p-button>
                                </div>
                                @if (printersServices.listEntities$().length > 0) {
                                    <div class="grid">
                                        @for (printer of printersServices.listEntities$() || []; track printer.id) {
                                            <div class="col-3">
                                                <p-card header="{{printer.name}}" subheader="{{ printer.ip }}">
                                                    <ng-template pTemplate="header">
                                                        <img alt="Card" src="assets/layout/images/elgin.jpeg"
                                                             [height]="150"/>
                                                    </ng-template>
                                                    <p-badge value="{{printer.area | translate}}"
                                                             [severity]="printer.area === 'POS' ? 'success' : 'warning'"></p-badge>
                                                    <div class="align-items-center flex flex-auto gap-3 pt-2">
                                                        <label class="block font-bold">Activa</label>
                                                        <p-inputSwitch [(ngModel)]="printer.enabled"
                                                                       (onChange)="patchEnable($event,printer)"
                                                                       [ngModelOptions]="{standalone: true}"
                                                                       class="flex"></p-inputSwitch>
                                                    </div>
                                                    <ng-template pTemplate="footer">
                                                        <div class="flex justify-content-center gap-3">
                                                            <button pButton pRipple
                                                                    class="p-button-danger p-button-outlined"
                                                                    [pTooltip]="'Elminar'"
                                                                    (click)="deletePrinter(printer.id)"
                                                                    icon="mdi mdi-close"></button>
                                                            <button pButton pRipple
                                                                    class="p-button-primary border-round"
                                                                    [pTooltip]="'Editar'"
                                                                    (click)="addEditPrintersCashRegister(printer,'CAIXA')"
                                                                    icon="mdi mdi-pencil"></button>
                                                        </div>
                                                    </ng-template>
                                                </p-card>
                                            </div>
                                        }
                                    </div>
                                } @else {
                                    <ng-container *ngTemplateOutlet="blank;"></ng-container>
                                }


                            </div>
                        </ng-template>
                        <ng-template [ngIf]="selectedItems=== 'caixa'">
                            <div class="top">
                                <div class="flex justify-content-between">
                                    <h4 class="text-center">Configurações das impresoras</h4>
                                    <p-button label="Nova"
                                              (onClick)="addEditPrintersCashRegister(null,'POS')"></p-button>
                                </div>
                                @if (cashRegisterService.listEntities$().length > 0) {
                                    <div class="grid">
                                        @for (cash of cashRegisterService.listEntities$() || []; track cash.id) {
                                            <div class="col-3">
                                                <p-card header="{{cash.name}}">
                                                    <ng-template pTemplate="header">
                                                        <img alt="Card" src="assets/layout/images/caixa.jpeg"
                                                             [height]="150"/>
                                                    </ng-template>
                                                    <div class="align-items-center flex flex-auto gap-3">
                                                        <label class="block font-bold">Activa</label>
                                                        <p-inputSwitch
                                                            [(ngModel)]="cash.enabled"
                                                            (onChange)="patchCaixaEnable($event,cash)"
                                                            [ngModelOptions]="{standalone: true}"
                                                            class="flex"></p-inputSwitch>
                                                    </div>
                                                    <ng-template pTemplate="footer">
                                                        <div class="flex justify-content-center gap-3">
                                                            <button pButton pRipple
                                                                    class="p-button-danger p-button-outlined"
                                                                    [pTooltip]="'Elminar'"
                                                                    (click)="deleteCashRegister(cash.id)"
                                                                    icon="mdi mdi-close"></button>
                                                            <button pButton pRipple
                                                                    class="p-button-primary border-round"
                                                                    [pTooltip]="'Editar'"
                                                                    (click)="addEditPrintersCashRegister(cash,'POS')"
                                                                    icon="mdi mdi-pencil"></button>
                                                        </div>
                                                    </ng-template>
                                                </p-card>
                                            </div>
                                        }
                                    </div>
                                } @else {
                                    <ng-container *ngTemplateOutlet="blank;"></ng-container>
                                }

                            </div>
                        </ng-template>
                        <ng-template [ngIf]="selectedItems=== 'bank'">
                            <div class="top">
                                <div class="flex justify-content-between">
                                    <h4 class="text-center">Configurações das contas bancarias</h4>
                                    <p-button label="Nova"
                                              (onClick)="addEditContaCorrente(null)"></p-button>
                                </div>
                                @if (banksService.listEntities$().length > 0) {
                                    <div class="grid">
                                        @for (bank of banksService.listEntities$() || []; track bank.id) {
                                            <div class="col-3">
                                                <p-card>
                                                    <ng-template pTemplate="header">
                                                        <img alt="Card"
                                                             src="assets/images/banks/{{getDataBanks(bank,'IMAGE')}}"
                                                             [height]="100"/>
                                                        <h6 class="m-0 p-2">{{ getDataBanks(bank, 'NAME') | wrapText: 20 }}</h6>
                                                    </ng-template>

                                                    <ng-template pTemplate="footer">
                                                        <div class="flex justify-content-center gap-3">
                                                            <button pButton pRipple
                                                                    class="p-button-danger p-button-outlined"
                                                                    [pTooltip]="'Elminar'"
                                                                    (click)="deleteContaCorrente(bank.id)"
                                                                    icon="mdi mdi-close"></button>
                                                            <button pButton pRipple
                                                                    class="p-button-primary border-round"
                                                                    [pTooltip]="'Editar'"
                                                                    (click)="addEditContaCorrente(bank)"
                                                                    icon="mdi mdi-pencil"></button>
                                                        </div>
                                                    </ng-template>
                                                </p-card>
                                            </div>
                                        }
                                    </div>
                                } @else {
                                    <ng-container *ngTemplateOutlet="blank;"></ng-container>
                                }
                            </div>
                        </ng-template>

                        <ng-template #blank>
                            <div class="flex justify-content-center">
                                <img [src]="'assets/layout/images/no-data.svg'" alt="techmemo-image" width="400"
                                     height="600"/>
                            </div>
                        </ng-template>
                        <div class="wrapper-bottom layout-btn-add align-items-center m-0"
                             *ngIf="selectedItems !== 'printers' && selectedItems !== 'caixa'">
                            <p-button (onClick)="saveDataBySection()"
                                      class="flex mr-5 justify-content-end"
                                      label="Salvar"></p-button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
