<div class="card m-3">
    <div class="grid">
        <div class="col-12 md:col-4" *ngFor="let metric of metrics">
            <div class="card flex w-full relative h-14rem overflow-hidden" (mouseenter)="show(btn)"
                 (mouseleave)="hide(btn)">
                <div class="flex w-full justify-content-between p-1">
                    <div>
                        <span class="block white-space-nowrap font-semibold text-2xl">{{ metric.title }}</span>
                    </div>
                    <div class="text-right">
                            <span class="block font-semibold text-xl white-space-nowrap text-3xl">
                                {{ metric.value | currency }}
                            </span>
                    </div>
                </div>
                <img [src]="'assets/demo/images/dashboard/' + metric.image +'.svg'"
                     class="absolute w-full bottom-0 left-0">
                <button #btn pButton pRipple type="button" label="View Details" icon="pi pi-eye font-semibold"
                        iconPos="right" class="p-button-rounded p-button-secondary font-semibold absolute hidden"
                        style="border-radius: 50px; left: 36%; bottom: 10%;"></button>
            </div>
        </div>
    </div>

    <p-table
        #dtOrders
        [value]="storeServices.listEntities$()"
        dataKey="id"
        [paginator]="true"
        [rows]="25"
        styleClass="p-datatable-sm"
        [rowsPerPageOptions]="[25, 50, 100]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
        <ng-template pTemplate="header">
            <tr>
                <th class="font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">Codigo</th>
                <th class="font-semibold py-3 border-bottom-1 surface-border white-space-nowrap px-3">Total
                    Pedido
                </th>
                <th class="font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">Total Pago
                </th>
                <th class="font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">Numero
                    Nf-e
                </th>
                <th class="font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">Serie Nf-e
                </th>
                <th class="font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                    <div class="flex align-items-center">
                        Data Criacao
                        <p-columnFilter type="date" field="created" display="menu"
                                        [showMatchModes]="false"
                                        [showClearButton]="false"
                                        [showApplyButton]="false"
                                        [showButtons]="false"
                                        [showOperator]="false"
                                        [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="px-3 pt-3 pb-0">
                                    <span class="font-bold">Data Criacao</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-calendar [(ngModel)]="rangeDates" selectionMode="range"
                                            [readonlyInput]="true"></p-calendar>
                                <div class="flex pt-3 justify-content-between gap-5">
                                    <button pButton pRipple class="w-7 p-button-danger p-button-outlined"
                                            label="Limpar"></button>
                                    <button pButton pRipple class="w-7 p-button-primary p-button-outlined"
                                            label="Aplicar" (click)="applyFilter('created')"></button>
                                </div>
                            </ng-template>

                        </p-columnFilter>
                    </div>
                </th>
                <th class="font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">Usuario
                    Criacao
                </th>
                <th class="font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">Data
                    Finalizacao
                </th>
                <th class="font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">Usuario
                    Criacao
                </th>
                <th class="font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                    <div class="flex align-items-center">
                        Estado
                        <p-columnFilter field="state" display="menu"
                                        [showMatchModes]="false"
                                        [showClearButton]="false"
                                        [showApplyButton]="false"
                                        [showButtons]="false"
                                        [showOperator]="false"
                                        [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="px-3 pt-3 pb-0">
                                    <span class="font-bold">Estado</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                            placeholder="Selecione">
                                    <ng-template let-option pTemplate="item">
                                        <p-tag [value]="option.label |translate"
                                               [severity]="option.value | severity"></p-tag>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td class="text-center">
                    {{ order.code }}
                </td>
                <td class="text-center">
                    <span class="severity_danger mb-0 font-bold">{{ order.valueToPaid | currency }}</span>
                </td>
                <td class="text-center">
                    <span class="severity_successfull mb-0 font-bold">{{ order.valuePaid | currency }}</span>
                </td>
                <td class="text-center">
                    -
                </td>
                <td class="text-center">
                    -
                </td>
                <td class="text-center">
                    {{ order.created | date }}
                </td>
                <td class="text-center">
                    -
                </td>
                <td class="text-center">
                    {{ order.created | date }}
                </td>
                <td class="text-center">
                    -
                </td>
                <td class="text-center">
                    <p-badge [value]="order.state | translate" [severity]="order.state | severity"></p-badge>
                </td>
                <td class="text-center">
                    <p-button icon="mdi mdi-printer mdi-24px"
                              [pTooltip]="'Imprimir Nf-e'"
                              styleClass="p-button-rounded p-button-text p-button-icon-only">
                    </p-button>
                    <p-button icon="mdi mdi-eye-circle-outline mdi-24px"
                              (click)="showDetails(order)"
                              styleClass="p-button-rounded p-button-text p-button-icon-only">
                    </p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="10" class="text-center text-2xl">
                    Ainda no tem vendas realizadas
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-sidebar [(visible)]="storeServices.showSidebar" position="right"
           (onHide)="closeSidebar()"
           [style]="{'width': '650px'}">
    <ng-template pTemplate="header">Detalhes do pedido Nº: <span
        class="mb-0 font-bold"> {{ storeServices.details$().code || ''}}</span></ng-template>
    <ng-template pTemplate="content">
        <p-table [value]="storeServices.details$().products|| []" [scrollable]="true"
                 [styleClass]="'p-datatable-sm'">
            <ng-template pTemplate="caption">Lista de produtos</ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="custom-th font-bold">Code</th>
                    <th class="custom-th font-bold">Nome do Produto</th>
                    <th class="custom-th font-bold">Unit</th>
                    <th class="custom-th font-bold">Quantia</th>
                    <th class="custom-th font-bold">Preço</th>
                    <th class="custom-th font-bold">Valor Adicional</th>
                    <th class="custom-th font-bold" alignFrozen="right" pFrozenColumn>Price Total
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td class="custom-td">{{ product.code }}
                    </td>
                    <td class="custom-td" style="min-width: 220px">{{ product.name | wrapText: 30 }}
                    </td>
                    <td class="custom-td">
                        {{ product.amount }}
                    </td>
                    <td class="custom-td">{{ product.unit === 'KILO' ? product.peso_liquido : ('-') }}</td>
                    <td class="custom-td">{{ product.salePrice| currency }}</td>
                    <td class="custom-td">{{ product.totalAdditionalsValue| currency }}</td>
                    <td class="custom-td font-bold" alignFrozen="right"
                        pFrozenColumn>{{ product.soldPerUnits ? ((product.salePrice + product.totalAdditionalsValue) * product.amount | currency) : (product.salePrice | currency) }}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="7" class="text-center text-2xl">
                        Ainda no tem productos
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-divider></p-divider>
        <p-table [value]="storeServices.canceled$()|| []" [scrollable]="true"
                 [styleClass]="'p-datatable-sm'">
            <ng-template pTemplate="caption">Lista de produtos cancelados</ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="custom-th font-bold">Nome do Produto</th>
                    <th class="custom-th font-bold">Quantia</th>
                    <th class="custom-th font-bold">Preço</th>
                    <th class="custom-th font-bold">Price Total</th>
                    <th class="custom-th font-bold" alignFrozen="right" pFrozenColumn>Usuário que cancelou</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td class="custom-td" style="min-width: 220px">{{ product.productName | wrapText: 30 }}
                    </td>

                    <td class="custom-td">{{ product.unit === 'KILO' ? product.peso_liquido : ('-') }}</td>
                    <td class="custom-td">{{ product.salePrice| currency }}</td>
                    <td class="custom-td font-bold">{{ product.soldPerUnits ? ((product.salePrice + product.totalAdditionalsValue) * product.amount | currency) : (product.salePrice | currency) }}
                    <td class="custom-td font-bold" alignFrozen="right"
                        pFrozenColumn>{{ product.userAdminName }}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="7" class="text-center text-2xl">
                        Ainda no tem productos
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-divider></p-divider>
        <p-table [value]="storeServices.details$().payments|| []" [scrollable]="true" [styleClass]="'p-datatable-sm'">
            <ng-template pTemplate="caption">Lista de pagamentos</ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="custom-th font-bold">Descrição de pagamento</th>
                    <th class="custom-th font-bold">Valor Receita</th>
                    <th class="custom-th font-bold">Valor Pago</th>
                    <th class="custom-th font-bold">Valor Troco</th>
                    <th class="custom-th font-bold">Valor Desc.</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pagamento>
                <tr>
                    <td>{{ pagamento.paymentStructure.description }}</td>
                    <td>{{ pagamento.valueToPaid |currency }}</td>
                    <td>{{ pagamento.valuePaid |currency }}</td>
                    <td>{{ pagamento.valuePaidChange |currency }}</td>
                    <td>{{ pagamento.discount |currency }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="5" class="text-center text-2xl">
                        Ainda no tem pagamentos
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
    <!--    <ng-template pTemplate="footer">Footer Content</ng-template>-->
</p-sidebar>
