<div class="flex h-screen">
    <div class="w-full lg:w-4 h-full text-center px-6 py-6 flex flex-column justify-content-center">
        <form (ngSubmit)="login()" [formGroup]="lockForm"  autocomplete="off" class="data-form w-full">

            <div class="flex flex-column align-items-center gap-4">
                <div class="mb-3">
                    <h2>Tela bloqueada</h2>
                    <p>Por favor, insira sua senha</p>
                </div>

                <span class="p-input-icon-left w-full md:w-25rem">
                <span class="p-input-icon-left w-full md:w-25rem">
                    <i class="pi pi-lock"></i>
                       <p-password [feedback]="false" [toggleMask]="true" id="password" placeholder="Password" formControlName="password"
                                   inputStyleClass="w-20rem"></p-password>
                </span>
            </span>
                <button [disabled]="lockForm.invalid" pButton pRipple [label]="'login.singIn' | translate" type="submit" class="w-20rem"></button>
            </div>
        </form>
        <p class="text-color-secondary font-semibold"></p>
    </div>
    <div
        class="w-8 hidden lg:flex flex-column justify-content-between align-items-center px-6 py-6 bg-cover bg-norepeat"
        style="background-image: url('assets/images/login.jpeg')">
        <div class="mt-auto mb-auto z-5">
            <span class="block text-white text-7xl font-semibold">Tech Memo <br/>Seu parceiro ideal para o sucesso empresarial</span>
            <span class="block text-white text-3xl mt-4">Simplifique suas vendas e aumente seus lucros, <br/> controle seu estoque, aumente suas vendas. </span>
        </div>
        <div class="flex align-items-center gap-5  z-5">
            <span class="text-white font-semibold">O poder da informação em suas mãos.</span>
        </div>
    </div>
</div>
