<ng-template dialog-header><span class="p-dialog-title">Algum comentário?</span></ng-template>
<div class="p-2 border-round">
    <div class="dish-observation-form">
        <div class="dish-observation-form__header">
            <span class="dish-observation-form__counter">{{selectedDescription.length}} / 140</span>
        </div>
        <textarea maxlength="140" tabindex="0" id="observations-form"
                  rows="5" cols="53"
                  [(ngModel)]="selectedDescription"
                  class="dish-observation-form__textarea"
                  pInputTextarea
                  placeholder="Ex: tirar primero chocolate e depois morango"></textarea>
    </div>
</div>
<ng-template dialog-footer>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Cancel"
            (click)="ref.close({cancel: true})"
            icon="pi pi-fw pi-trash"></button>
    <button pButton pRipple class="p-button-primary flex-1 border-round" label="Adicionar"
            icon="mdi mdi-check"></button>
</ng-template>
