<div class="header_section">
    <div class="inner_header_section">
        <div class="flex py-3 gap-3">
            <div class="flex">
                <div class="site_logo">
                    <a href="" target="_blank" rel="noopener noreferrer" class="logo_link">
                        <img src="./../../../../../../assets/images/commerce/img/logo.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="flex-1">
                <div class="cart_operation_tools_wrapers">
                    <div class="wrapers_cart_operation_tools">
                        <ul>
                            <li>
                                <span
                                    class="text-white flex align-items-center justify-content-center border-circle mr-2"
                                    style="min-width: 2rem; min-height: 2rem;"><i
                                    class="mdi mdi-cart-variant mdi-24px p-text-secondary"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
