<ng-template dialog-header>{{ 'security.user.labels.generatePassword' | translate }}</ng-template>
<form [formGroup]="form">
  <div class="grid" formResponsive width="350px">
    <div class="col-12">
      <div class="field p-fluid">
        <label class="required block" for="password">
          {{ 'security.user.labels.newPassword' | translate }}
        </label>
        <p-password [toggleMask]="true" formControlName="password" formFieldValidation
                    id="password" styleClass="p-input-icon-right"></p-password>
      </div>
    </div>
  </div>
</form>
<ng-template dialog-footer>
  <button (click)="ref.close('Cancel')" class="p-button-outlined mr-2" icon="mdi mdi-close"
          label="{{'common.cancel' | translate}}" pButton type="button"></button>
  <button (click)="save()" [disabled]="form.invalid" class="p-button-outlined mr-2" icon="mdi mdi-check"
          label="{{'security.user.labels.change' | translate}}" pButton type="button"></button>
</ng-template>
