<ng-template dialog-header><span class="p-dialog-title">Extração de dinheiro</span></ng-template>
<form [formGroup]="form">
    <div class="grid grid-nogutter flex-wrap gap-3 p-fluid pt-2">
        <div class="col-12 lg:col-12">
            <div class="grid formgrid">
                <div class="col-12 lg:col-12 field mb-0">
                    <p-inputGroup>
                        <p-inputGroupAddon>$</p-inputGroupAddon>
                        <input type="text" formControlName="value" pInputText placeholder="Dinheiro em caixa"/>
                        <p-inputGroupAddon>.00</p-inputGroupAddon>
                    </p-inputGroup>
                </div>
                <div class="col-12 lg:col-12 field">
                    <p-divider></p-divider>
                    <h6 class="m-0">Descrição:</h6>
                    <textarea rows="5" cols="32" [autoResize]="true" formControlName="description"
                              pInputTextarea></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
<ng-template dialog-footer>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Fechar"
            (click)="ref.close()"
            icon="mdi mdi-close"></button>
    <button pButton pRipple class="p-button-primary flex-1 border-round" label="Extrair"
            (click)="extract()"
            [disabled]="form.invalid"
            icon="mdi mdi-check"></button>
</ng-template>
