<ng-template dialog-header>
    Nova Transferência de estoque
</ng-template>
<form [formGroup]="form">
    <div formResponsive width="950px">
        <div class="grid p-fluid">
            <div class="col-12 lg:col-6">
                <p-dropdown appendTo="body" [options]="lojas" formControlName="sourceCommerceId" optionValue="commerceId" optionLabel="commerceName" [showClear]="true"
                            placeholder="Localização (DE)"></p-dropdown>

            </div>
            <div class="col-12 lg:col-6">
                <p-dropdown appendTo="body" [options]="lojasDestination" formControlName="destinationCommerceId" optionValue="commerceId"  optionLabel="commerceName" [showClear]="true"
                            placeholder="Localização (PARA)"></p-dropdown>
            </div>
            <div class="col-12">
                <span class="pl-2 text-2xl" style="border-left: 5px double var(--primary-color);">Detalhes da transferência</span>
                <div class="search-container shadow-none p-3 w-full  gap-3">
                    <i class="mdi mdi-magnify"></i>
                    <p-autoComplete class="w-full"
                                    styleClass="w-full"
                                    appFocus #input
                                    (completeMethod)="search($event)"
                                    inputStyleClass="w-full"
                                    placeholder="Pesquise por nome ou código de barras"
                                    (input)="searchProducts($event)"
                                    field="name"
                                    [(ngModel)]="selectedItem"
                                    [ngModelOptions]="{standalone: true}"
                                    [suggestions]="suggestions">
                    </p-autoComplete>
                    <div style="width: 6.5em;">
                                <span class="p-input-icon-left">
                                    <i class="mdi mdi-pound" style="top:15px; font-size: 2rem"></i>
                                    <input class="pl-4" type="number" pInputText
                                           [(ngModel)]="selectedItemAmount"
                                           [ngModelOptions]="{standalone: true}"/>
                                </span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p-table [value]="products" [scrollable]="true"
                         [styleClass]="'p-datatable-sm'">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="custom-th font-bold">Nome do Produto</th>
                            <th class="custom-th font-bold">Unit</th>
                            <th class="custom-th font-bold">Quantia</th>
                            <th class="custom-th font-bold">Preço</th>
                            <th class="custom-th font-bold">Sub-Total</th>
                            <th class="custom-th font-bold">Ações</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-editing="editing">
                        <tr>
                            <td class="custom-td"
                                style="min-width: 220px">{{ product.productName | wrapText: 25 }}
                            </td>
                            <td class="custom-td"> {{ product.soldPerUnits ? "Unit" : product.unitMeasurementCode ? " / " + product.unitMeasurementName + "(" + product.unitMeasurementCode + ")" : '-' }}</td>
                            <td class="custom-td" [pEditableColumn]="product.amount" pEditableColumnField="amount">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input
                                            pInputText type="text"
                                            (ngModelChange)="onProductChange()"
                                            [(ngModel)]="product.amount" />
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ product.amount }}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td class="custom-td">
                                {{ product.value| currency: 'BRL' : 'symbol' : '1.2' }}
                            </td>
                            <td class="custom-td">{{ (product.value * product.amount)| currency: 'BRL' : 'symbol' : '1.2' }}</td>
                            <td>
                                <p-button styleClass="border-round-3xl severity_danger small"
                                          icon="mdi mdi-close">
                                </p-button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="4" class="text-right font-bold">Totais a transferir</td>
                            <td class="font-bold">{{ totalProducts | currency }}</td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="col-12">
                <span class="pl-2 mb-3 text-2xl" style="border-left: 5px double var(--primary-color);">Comentários</span>
                <textarea class="mt-2" rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
            </div>
        </div>
    </div>
</form>
<ng-template dialog-footer>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Fechar"
            icon="mdi mdi-close"></button>
    <button pButton pRipple class="p-button-primary flex-1 border-round" label="Transferir" (click)="save()" [disabled]="form.invalid"
            icon="mdi mdi-check"></button>
</ng-template>
