<ng-template dialog-header><span class="p-dialog-title">Inserir CPF Nota</span></ng-template>
<div class="grid mt-0">
    <div class="col-12 field pb-0">
        <p-inputMask [(ngModel)]="cpfNota" styleClass="w-full" id="cpf" mask="999.999.999-99"
                     placeholder="CPF"></p-inputMask>
    </div>
</div>
<ng-template dialog-footer>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Fechar"
            icon="mdi mdi-close"></button>
    <button pButton pRipple class="p-button-primary flex-1 border-round" label="Adicionar CPF"
            (click)="setCPF()"
            icon="mdi mdi-check"></button>
</ng-template>

