<div class="card">
    <c-data-table [action]="true" [exportBtn]="false" [itemsSplit]="itemsSplit" (edit)="customEdit($event)"
                  [headers]="headersTable" [service]="productService" [showCreate]="true">
        <ng-template let-data let-i="rowIndex" tableRow="type">
            <p-badge [severity]="data.type | severity" value="{{data.type | translate}}"/>
        </ng-template>
    </c-data-table>
    <p-confirmDialog [autoZIndex]="true" [style]="{width: '30rem'}" appendTo="body" confirmTranslate/>
</div>
